# Do not copy docker files
**/Dockerfile*
**/docker-compose*
**/docker

# Do not copy deps
**/node_modules

# Do not copy turbo
.turbo/
**/.turbo
apps/*/.turbo

# Do not copy artifacts
apps/*/build
apps/*/dist
apps/*/lib
apps/*/.next
apps/*/.nyc_output

# Do not copy test
**/test
**/__test__
**/jest.config.js
**/jest.setup.js

# Do not copy docs
**/docs

# Do not copy .git
**/.git
**/.gitignore
**/README.md

# Docker scripts
docker-build.sh

# Scripts
install.sh

# Tools
tools.js
